/* Media Query */
    
@media (max-width:700px){
    #btn-mobile{
        display: block;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-image: linear-gradient(60deg, #010326a8, #010c408a, #022859);
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav-bar.active #menu{
        height: calc(100vh - 40px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid rgba(255, 217, 0, 0.24);
    }
    #btn-mobile{
        font-family: 'Poppins';
        display: flex;
        padding: 2.5rem 1rem;
        font-size: 1.5rem;
        border: none;
        background: none;
        cursor: pointer;
        color: white;
        gap: 0.5rem;
    }
    #hamburger{
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height:2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav-bar.active #hamburger{
        border-top-color: transparent;
    }
    #nav-bar.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav-bar.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    .wrapper img{
            width: 170px;
        }
        .wrapper{
            position: relative;
            top: 100px;
            right: 40px;
        }
        #presentation h1{
            font-size: 4.0rem;
            margin-left: 40px;
            
        }
        #presentation .cta{
            display: flex; padding: 10px 20px;
            margin-bottom: 20px;
            margin-top: 20px;
            margin-left: 40px;
        }
    }
    
    @media only screen and (min-width: 768px) {
        
    #all-sobre .sobre-item {
        flex-direction: row;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #all-sobre .sobre-projects .sobre-info{
        height: 100%;
    }
    #all-sobre .sobre-projects .sobre-img{
        height: 70px;
    }
    #all-sobre .sobre-item:nth-child(even) {
        flex-direction: row-reverse;
    }
    
    #portfolio .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #portfolio .all-projects .project-info{
        height: 100%;
    }
    #portfolio .all-projects .project-img{
        height: 100%;
    }
    #portfolio .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }
    }