@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,200;1,500&display=swap');

:root{
    --menu--:#0B1C26;
    --padrao--:white;
    --cor-destaque--:gold;
}

/* Declarações gerais */
*{
    padding: 0; margin: 0;
    box-sizing: border-box;

}
body{
    display: grid;
    height: 100vh;
}
html{
    font-family: 'poppins', 'Times New Roman', Times, serif;
    font-size: 10px;
    scroll-behavior: smooth;
}
a{
    color: var(--cor-destaque--);
    text-decoration: none;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}
/* Declarações gerais */

/*Menu*/
#nav-bar{
    background-color:#010326;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#nav-bar li{
   display: inline-block;
   margin: 20px;
}
#nav-bar a{
    color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#nav-bar a:hover{
    color: var(--cor-destaque--);
    transition: 0.3s all;
}
#menu {  
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
#menu a {
    display: block;
    padding: 0.5rem;
  }
#btn-mobile{
    display: none;
}
.container{
    min-height: 100vh;
    width: 100%; display: flex;
    align-items: center; justify-content: center;
}
/*menu*/

/* apresentação */
#presentation{
    background: url(../imagens/vs.jpg) center center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}
.wrapper img{
    width: 300px;
}

#presentation h1{
    display: block;
    width: fit-content;
    font-size: 5.5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#presentation h1:nth-child(1){
    animation-delay: .8s;
}
#presentation h1:nth-child(2){
    animation-delay: 1.8s;
}
#presentation h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}
#presentation .cta{
    display: inline-block; padding: 10px 30px;
    color: var(--cor-destaque--); background-color: transparent;
    border: 2px solid var(--cor-destaque--);
    font-size: 2.0rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-top: 40px;
    transition: .5s ease;
    transition-property: background-color, color;
}
#presentation .cta:hover{
    color: white;
    background-color: var(--cor-destaque--);
    font-weight: 500;
}
#presentation h1 span{
    position: absolute;
    top: 0; left: 0; 
    height: 100%; width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: var(--cor-destaque--);
}
#presentation h1:nth-child(1) span{
    animation-delay: .5s;
}
#presentation h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#presentation h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#presentation::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    height: 100%; width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}
/*conect*/

/*apresentação*/

/* seção sobre mim */
#sobre-mim .sobre-mim{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#sobre-mim .header h1{
    margin-bottom: 50px;
}

#sobre-mim .sobre-mim{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#sobre-mim .header h1{
    margin-bottom: 50px;
}
#all-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 #all-sobre .sobre-item{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
 }
 #all-sobre .sobre-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #010326, #010B40, #022859);
    color: white;
}
#all-sobre .sobre-info h1{
    font-size: 4rem;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}
#all-sobre .sobre-info h2{
    color: var(--cor-destaque--);
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}
#all-sobre .sobre-img {
    flex-basis: 50%;
    height: 577px;
    overflow: hidden;
    position: relative;
}
#all-sobre .sobre-img:after {
    content: '';
    position: absolute;
    left: 0; top:0;
    height: 100%; width: 100%;
}
#all-sobre .sobre-img img{
    transition: 0.5s ease transform;
}
#all-sobre .sobre-item:hover .sobre-img img{
    transform: scale(1.1);
}
/* seção sobre mim */

/* seção portifólio */
.section-title {
    border: 1px solid  gold;
    padding: 10px;
    border-radius: 0 30px 0 30px;
    font-size: 4.0rem;
    font-weight: 100;
    color: var(--gradient--) ;
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}
#portfolio .portfolio{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#portfolio .portfolio-header h1{
    margin-bottom: 50px;
}
#portfolio .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#portfolio .project-item{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 10px;
}

#portfolio .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #010326, #010B40, #022859);
    color: var(--padrao--);
}

#portfolio .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}

#portfolio .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#portfolio .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#portfolio .project-img:after {
    content: '';
    position: absolute;
    left: 0; top:0;
    height: 100%; width: 100%;
}
#portfolio .project-img img{
    transition: 0.5s ease transform;
}
#portfolio .project-item:hover .project-img img{
    transform: scale(1.1);
}
/*seção portifólio*/

/*Habilidades*/
.product-card {
    width: 380px;
    
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 50%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: red;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: red;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: red;
}

/*rodapé*/
.redes {
    display: flex;
    align-items: center; 
    justify-content: center;
}
.redes i{
    margin: 10px;
    padding: 20px;
}
footer{
    padding: 40px;
    margin-bottom: 0px;
    text-align: center;
    background-image: linear-gradient(60deg, #010326, #010B40, #022859);
    color: var(--padrao--);
}
footer a{
    color: var(--cor-destaque--);
}
footer a:hover{
    color: rgb(95, 83, 14);
}
/*rodapé*/

/* keyframes */
@keyframes text_reveal{
    100%{
        color: var(--padrao--);
    }
}
@keyframes text_reveal_name{
    100%{
        color: var(--cor-destaque--);
        font-weight: 500px;
    }
}
@keyframes text_reveal_box{
    50% {
      width: 100%;
      left: 0;
    }
    100%{
     width: 0;
     left: 100%;
    }
}

