@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,200;1,500&display=swap');

:root{
    --menu--:#0B1C26;
    --padrao--:white;
    --cor-destaque--:gold;
}

/* Declarações gerais */
*{
    padding: 0; margin: 0;
    box-sizing: border-box;

}
body{
    display: grid;
    height: 100vh;
}
html{
    font-family: 'poppins', 'Times New Roman', Times, serif;
    font-size: 10px;
    scroll-behavior: smooth;
}
a{
    color: var(--cor-destaque--);
    text-decoration: none;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}
/* Declarações gerais */

/*Menu*/
#nav-bar{
        background-color: #010B40;
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: right;  
}

#nav-bar li{
   display: inline-block;
   margin: 20px;
}
#nav-bar a{
    color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#nav-bar a:hover{
    color: var(--cor-destaque--);
    transition: 0.3s all;
}
#menu { 
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
#menu a {
    display: block;
    padding: 0.5rem;
  }
#btn-mobile{
    display: none;
}
.container{
    min-height: 100vh;
    width: 100%; display: flex;
    align-items: center; justify-content: center;
}
/*menu*/

/* apresentação */
#presentation{
    background: url(../imagens/vs.jpg) center center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
#presentation h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#presentation h1:nth-child(1){
    animation-delay: .8s;
}
#presentation h1:nth-child(2){
    animation-delay: 1.8s;
}
#presentation h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}
#presentation .cta{
    display: inline-block; padding: 10px 30px;
    color: var(--cor-destaque--); background-color: transparent;
    border: 2px solid var(--cor-destaque--);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color;
}
#presentation .cta:hover{
    color: white;
    background-color: var(--cor-destaque--);
    font-weight: 500;
}
#presentation h1 span{
    position: absolute;
    top: 0; left: 0; 
    height: 100%; width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: var(--cor-destaque--);
}
#presentation h1:nth-child(1) span{
    animation-delay: .5s;
}
#presentation h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#presentation h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#presentation::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    height: 100%; width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}
/*conect*/
.wrapper {
    position: relative;
    bottom: 200px;
    right: 140px;
}

.wrapper :is(.btn, .link) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-color: #fff;
    color: #151515;
    border-radius: 50%;
}

.btn {
    position: absolute;
    border: none;
    cursor: pointer;
    z-index: 10;
    transition: outline .25s;
}

.active .btn,
.btn:hover {
    outline: 5px solid gold;
    outline-offset: -4px;
}

.item {
    position: absolute;
    list-style: none;
    transition: transform .5s;
    transition-delay: var(--d);
}

.wrapper.active .item:nth-child(1) {
    transform: translateX(-65px);
}

.wrapper.active .item:nth-child(2) {
    transform: translateY(-65px);
}

.wrapper.active .item:nth-child(3) {
    transform: translateX(65px);
}

.wrapper.active .item:nth-child(4) {
    transform: translatey(65px);
}

.link:hover {
    color: #fff;
    transition: background-color .5s;
}

.ig:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
}

.tw:hover {
    background-color: #1DA1F2;
}

.sc:hover {
    background-color: rgba(12, 12, 12, 0.322);
    color: inherit;
}
.lk:hover{
    background-color: #0a66c2;
}

/*apresentação*/

/* seção sobre mim */
#sobre-mim .sobre-mim{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#sobre-mim .header h1{
    margin-bottom: 50px;
}

#sobre-mim .sobre-mim h1{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 400px;
}
#sobre-mim .header h1{
    margin-bottom: 50px;
}
#all-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 #all-sobre .sobre-item{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
 }
 #all-sobre .sobre-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #010326, #010B40, #022859);
    color: white;
}

#all-sobre .sobre-info h2{
    color: var(--cor-destaque--);
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 10px;
}
#all-sobre .sobre-img {
    flex-basis: 50%;
    height: 550px;
    overflow: hidden;
    position: relative;
}
#all-sobre .sobre-img:after {
    content: '';
    position: absolute;
    left: 0; top:0;
    height: 100%; width: 100%;
}
#all-sobre .sobre-img img{
    transition: 0.5s ease transform;
    width: 400px;
}
#all-sobre .sobre-item:hover .sobre-img img{
    transform: scale(1.1);
}
/* seção sobre mim */

/* seção portifólio */
.section-title {
    background-color: #010B40;
    color: gold;
    border-radius: 10px;
    padding: 15px;
    font-size: 4.0rem;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}
#portfolio .portfolio{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#portfolio .portfolio-header h1{
    margin-bottom: 50px;
}
#portfolio .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#portfolio .project-item{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 10px;
}

#portfolio .project-info {
    padding: 20px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #010326, #010B40, #022859);
    color: #fff;
}

#portfolio .project-info h1{
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 500;
    color: gold;
    text-transform: uppercase;
}

#portfolio .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#portfolio .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#portfolio .project-img:after {
    content: '';
    position: absolute;
    left: 0; top:0;
    height: 100%; width: 100%;
}
#portfolio .project-img img{
    transition: 0.5s ease transform;
}
#portfolio .project-item:hover .project-img img{
    transform: scale(1.1);
}
/*seção portifólio*/

/*rodapé*/
footer{
    padding: 40px;
    margin-bottom: 0px;
    text-align: center;
    background-image: linear-gradient(60deg, #010326, #010B40, #022859);
    color: var(--padrao--);
}
footer a{
    color: var(--cor-destaque--);
}
footer a:hover{
    color: rgb(95, 83, 14);
}
/*rodapé*/

/* keyframes */
@keyframes text_reveal{
    100%{
        color: var(--padrao--);
    }
}
@keyframes text_reveal_name{
    100%{
        color: var(--cor-destaque--);
        font-weight: 500px;
    }
}
@keyframes text_reveal_box{
    50% {
      width: 100%;
      left: 0;
    }
    100%{
     width: 0;
     left: 100%;
    }
}

/* Media Query */
@media (max-width:700px){
    #btn-mobile{
        display: block;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 60px;
        right: 0px;
        background-image: linear-gradient(60deg, #010326a8, #010c408a, #022859);
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav-bar.active #menu{
        height: calc(100vh - 40px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid rgba(255, 217, 0, 0.24);
    }
    #btn-mobile{
        font-family: 'Poppins';
        display: flex;
        padding: 2.5rem 1rem;
        font-size: 1.5rem;
        border: none;
        background: none;
        cursor: pointer;
        color: white;
        gap: 0.5rem;
    }
    #hamburger{
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height:2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav-bar.active #hamburger{
        border-top-color: transparent;
    }
    #nav-bar.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav-bar.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    }
    
@media only screen and (min-width: 768px) {
#all-sobre .sobre-item {
    flex-direction: row;
    margin: 0;
    width: 100%;
    border-radius: 0;
}
#all-sobre .sobre-projects .sobre-info{
    height: 100%;
}
#all-sobre .sobre-projects .sobre-img{
    height: 70px;
}
#all-sobre .sobre-item:nth-child(even) {
    flex-direction: row-reverse;
}

#portfolio .project-item {
    flex-direction: row;
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
}
#portfolio .all-projects .project-info{
    height: 100%;
}
#portfolio .all-projects .project-img{
    height: 100%;
}
#portfolio .project-item:nth-child(even) {
    flex-direction: row-reverse;
}
}
